@using GlobalPrint.ClientWeb.Models.OfferController
@model OfferViewModel

@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
    ViewBag.Title = "Оферта";
}

@section Stylesheets {
    <link href="~/Resources/Stylesheets/shared/display-form.css" rel="stylesheet" />
}

<div class="display-form-content-large">
    <h2>@Model.Title</h2>
    @if (Model.Paragraphs != null)
    {
        foreach (string paragraph in Model.Paragraphs)
        {
            <p>@paragraph</p>
        }
    }   
</div>