@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
    ViewBag.Title = "Оферта";
}

@section Stylesheets {
    <link href="~/Resources/Stylesheets/shared/display-form.css" rel="stylesheet" />
}

<div class="display-form-content-large">
    <h2>Оферта на оказание услуг интернет-сервиса &laquo;GlobalPrint&raquo;</h2>
    <p><a href="https://globalprint.online/">www.globalprint.online</a></p>
    <p>Российская Федерация, город Москва</p>
    <p>Дата размещения: 01 октября 2016 г.</p>
    <p>Дата вступления в силу: 01 октября 2016 г.</p>
    <p>Настоящий документ представляет собой предложение Общества с ограниченной ответственностью &laquo;Эвергрин&raquo; (ИНН 7706206824) (далее &mdash; &laquo;Эвергрин&raquo;) заключить Договор на оказание Услуг &laquo;GlobalPrint&raquo; на изложенных ниже условиях.</p>
    <br/>
    <ol>
        <li>Термины и определения</li>
    </ol>
    <p>1.1. В целях настоящего документа нижеприведенные термины используются в следующем значении:</p>
    <p><strong><em>Акцепт Оферты</em></strong>&nbsp;&mdash; полное и безоговорочное принятие данной Оферты</p>
    <p><strong><em>База данных</em></strong><em> &laquo;</em>GlobalPrint<em>&raquo;</em>&nbsp;&mdash; представляет собой информационно-справочную систему, содержащую информацию о местах оказания печатных услуг, а также описание технических устройствах печати, предназначенную для потенциальных потребителей услуг печати на различных принтерах и иных печатающих устройствах.</p>
    <p><strong><em>Веб-интерфейс клиента</em></strong>&nbsp;&mdash; программный интерфейс взаимодействия <strong><em>Точки печати,</em></strong><em> а также<strong> Пользователя</strong></em> с системой GlobalPrint, который содержит информацию о Точке печати, данные статистики и иную информацию в отношении услуг GlobalPrint, а также предоставляет возможность удаленного взаимодействия Сторон в рамках Договора, доступный Точка печати после авторизации с использованием логина и пароля Точка печати на сайте <a href="https://globalprint.online">www.globalprint.online</a>, через прикладные программы (в том числе программы для мобильных устройств) или API;</p>
    <p><strong>Данные статистики</strong>&nbsp;&mdash; данные систем автоматизированного учета информации GlobalPrint, которые в том числе могут содержать сведения о количестве устройств и мест оказания услуг печати, стоимости услуг GlobalPrint и иные сведения, относящиеся к размещению Материалов, в электронном виде;</p>
    <p><strong><em>Договор</em></strong>&nbsp;&mdash; возмездный договор между <em>Точка печати</em> и Эвергрином на оказание Услуг &laquo;GlobalPrint&raquo;, который заключается посредством Акцепта Оферты;</p>
    <p><strong><em>Точка печати</em></strong><em> (Клиент ООО "Эвергрин")</em>&nbsp;&mdash; лицо, осуществившее Акцепт данной Оферты и являющемся лицом предоставляющее услуги печати в сервисе &laquo;GlobalPrint&raquo; по заключенному Договору;</p>
    <p><strong><em>Материалы</em></strong>&nbsp;&mdash; предоставляемые <em>Точками печати</em> информационные материалы, содержащие сведения об ассортименте, ценах, характеристиках, наличии услуг, предлагаемых в точке оказания услуг печати потенциальным покупателям в текущий период, информацию о нахождении стационарных точек оказания услуг владельцев принтеров, изображения, описания и иные согласованные Сторонами сведения о предложениях точек услуг печати;</p>
    <p><strong><em>Оферта</em></strong><strong>&nbsp;</strong>&mdash; настоящий документ &laquo;Оферта на оказание услуг &laquo;GlobalPrint&raquo;, размещенный в сети Интернет по адресу&nbsp;<a href="https://globalprint.online/About/About">www.globalprint.online/About/About</a>;</p>
    <p><strong><em>Печать</em></strong>&nbsp;&mdash; подтверждение Пользователя о списании денежных средств со счёта (баланса) мобильного телефона или &laquo;привязанной&raquo; к сервису <em>GlobalPrint</em> банковской карты за полиграфические услуги в <em>Точке печати</em>;</p>
    <p><strong><em>Пользователь</em></strong>&nbsp;&mdash; лицо, являющееся посетителем/пользователем сервиса <em>GlobalPrint</em>&nbsp;по адресу <a href="https://globalprint.online">www.globalprint.online</a> в сети Интернет осуществляющий заказ полиграфических услуг в <em>Точке печати</em>;</p>
    <p><strong><em>Точка печати</em></strong>&nbsp;(<em>Точка печати</em>)&mdash; организация, индивидуальных предприниматель или частное лицо, зарегистрированное в сервисе <em>GlobalPrint</em>&nbsp;по адресу <a href="https://globalprint.online">www.globalprint.online</a> в сети Интернет и оказывающее услуги печати (полиграфические услуги) на бумаге и иных носителях, различных форматов и способов печати;</p>
    <p><strong><em>Сервис GlobalPrint</em></strong>&nbsp;&mdash; означает веб-сервис размещенный в сети Интернет по адресу:&nbsp;<a href="https://globalprint.online">www.globalprint.online</a>,&nbsp; прикладные программы (в том числе программы для мобильных устройств) Эвергрина или его аффилированных лиц, предоставляющие доступ к Базе данных и услугам сервиса <em>&laquo;GlobalPrint&raquo;</em>;</p>
    <p><em>Услуги &laquo;GlobalPrint&raquo;</em>&nbsp;&mdash; услуги предоставляемые ООО &laquo;Эвергрин&raquo; в виде электронного сервиса <a href="https://globalprint.online">www.globalprint.online</a>,&nbsp; (услуги, предусмотренные пунктами 2.1.1 и 2.1.2 Оферты);</p>
    <p>1.2. В Оферте могут быть использованы термины, не определенные в п.1.1. Оферты. В этом случае толкование такого термина производится в соответствии с текстом Оферты. В случае отсутствия однозначного толкования термина в тексте Оферты следует руководствоваться толкованием термина, определенным: в первую очередь &mdash; законодательством РФ, во вторую очередь &mdash; на Сервисе GlobalPrint, затем &mdash; сложившимся (общеупотребимым) в сети Интернет.</p>
    <ol start="2">
        <li>Предмет Договора</li>
    </ol>
    <p>2.1. Предметом Договора является возмездное оказание Эвергрином Услуг &laquo;GlobalPrint&raquo;&nbsp; <em>Точкам печати</em> и <em>Пользователям</em> на условиях Оферты. Услуги GlobalPrint включают в себя:</p>
    <p>2.1.1. размещение Эвергрином информации о точках оказаниях услуг печати различных видов и форматов;</p>
    <p>2.1.2. предоставление Эвергрином <em>Пользователям</em> функционала, позволяющего оформить заказ услуги печати непосредственно на сервисе GlobalPrint, в том числе предоставление <em>Точке печати</em> функционала для оформления Пользователем заказа на условиях оплаты услуг печати;</p>
    <ol start="3">
        <li>Условия оказания услуг</li>
    </ol>
    <p>3.1. Обязательным условием оказания Эвергрином Услуг &rdquo;GlobalPrint&rdquo; является принятие,&nbsp; соблюдение и применение к отношениям сторон по Договору требований и положений, изложенных в Оферте размещенной в сети Интернет по адресу: <a href="https://globalprint.online">www.globalprint.online</a> (далее &mdash; &laquo;Оферта&raquo;);</p>
    <p>3.2. Если иное не предусмотрено Общими Условиями, Эвергрин приступает к оказанию <em>Точке печати </em>услуги, указанной в п. 2.1.1 Оферты, с момента совокупного выполнения <em>Точки печати </em>следующих условий:</p>
    <p>3.2.1. <em>Точка печати </em>предоставила информацию, соответствующую требованиям Договора;</p>
    <p>3.2.2. Точка печати осуществил Акцепт Оферты.</p>
    <p>3.3. Эвергрин приступает к оказанию <em>Точке печати </em>услуги, указанной в п. 2.1.2 Оферты, при условии выполнения <em>Точкой печати </em>соответствующих требований, предусмотренных формой добавления принтера, содержащей в себе:</p>
    <ul>
        <li>Наименование <em>Точки печати</em></li>
        <li>Режим работы</li>
        <li>Перечень и Стоимость услуг</li>
        <li>Иные параметры</li>
    </ul>
    <p>3.4.1. Информацию о нахождении стационарных точек оказания услуг <em>Точки печати</em> и иные согласованные Сторонами сведения могут предоставляться <em>Точке печати </em>через Веб-интерфейс клиента.</p>
    <p>3.5. В случае если Материалы предоставлены <em>Точкой печати</em> с нарушением правил и требований Договора (в т.ч. Общих Условий), Эвергрин вправе отказать в размещении таких Материалов, приостановить или прекратить оказание Услуг в отношении таких Материалов, расторгнуть Договор.</p>
    <p>3.6. Точка печати не вправе передавать свои права по Договору какой-либо третьей стороне без предварительного согласия Эвергрина. Обязанность подтверждения наличия такого согласия возлагается на Точку печати.</p>
    <p>3.7. Услуги предоставляются <em>Точке печати</em> за каждый заказ печати со стороны Пользователя в виде комиссионного сбора с каждого платежа Пользователя в размере 20%. Эвергрин оставляет за собой право немедленно приостановить оказание Услуг и/или расторгнуть Договор в одностороннем порядке в случае многократного нарушения <em>Точкой печати</em> условий настоящего Договора.</p>
    <p>3.8. <em>Точка печати</em> самостоятельно несет ответственность за сохранность и конфиденциальность регистрационных данных (логин и пароль). Все действия, осуществленные в отношении размещения информации через Веб-интерфейс клиента с использованием логина и пароля <em>Точкой печати</em>, считаются осуществленными <em>Точкой печати</em>. <em>Точка печати</em> самостоятельно несет ответственность перед третьими лицами за все действия, совершенные с использованием логина и пароля <em>Точки печати</em>.</p>
    <p>3.9 Точка печати признает, что в целях Договора, в частности, для определения количества заказов, количества документов, страниц, копий, стоимости Услуг, а также периода начала и периода оказания Услуг используются исключительно Данные статистики сервиса GlobalPrint.</p>
    <ol start="4">
        <li>Права и обязанности сторон</li>
    </ol>
    <p><strong>4.1. Эвергрин обязуется:</strong></p>
    <p>4.1.1. Оказывать <em>Точке печати</em> Услуги &laquo;GlobalPrint&raquo; в соответствии с Договором, заключенным на условиях Оферты.</p>
    <p>4.1.2. При оказании Услуг по Договору обеспечить возможность ознакомления <em>Точке печати</em> с Данными статистики через Веб-интерфейс клиента, при этом Эвергрин не несёт ответственности в случае невозможности ознакомления <em>Точкой печати</em> с Данными статистики по причинам, не зависящим от Эвергрина.</p>
    <p><strong>4.2. Эвергрин имеет право:</strong></p>
    <p>4.2.1. Временно приостановить оказание <em>Точке печати</em> Услуг по Договору по техническим, технологическим или иным причинам, препятствующим оказанию Услуг, на время устранения таких причин.</p>
    <p>4.2.2. Приостановить оказание Услуг по Договору и/или досрочно расторгнуть Договор в одностороннем внесудебном порядке путем уведомления Точка печати в случаях:</p>
    <p>а) нарушения <em>Точкой печати</em> обязательства, предусмотренного п.п. 4.3.2, 4.3.3, 4.3.9 Оферты;</p>
    <p>б) при нарушении <em>Точкой печати</em> иных обязательств, принятых в соответствии с Договором.</p>
    <p>4.2.3. Осуществлять любые действия (контрольные мероприятия) по проверке соответствия содержания представленной <em>Точкой печати</em> информации требованиям Договора. Данные, полученные в результате осуществления контрольных мероприятий, являются достаточным, но не единственным основанием для установления несоответствия информации в сервисе GlobalPrint о <em>Точке печати</em> требованиям Договора. При этом Эвергрин самостоятельно определяет способы, периодичность и основания проведения контрольных мероприятий.</p>
    <p>4.2.4. Приостановить оказание Услуг и/или расторгнуть Договор(-ы) с <em>Точкой печати</em> в одностороннем порядке в случае, если Точка печати:</p>
    <ul>
        <li>Оказывает услуги печати ненадлежащего качества</li>
        <li>Информация о режиме работы <em>Точки печати</em> не соответствовала действительности более 3-х раз в течение 1 месяца.</li>
        <li>Обслуживающий персонал <em>Точки печати </em>неоднократно демонстрировал грубое или неуважительное отношение к Пользователю.</li>
    </ul>
    <p>4.2.5. Вносить изменения в Оферту, Общие Условия и иные документы, указанные в п. 3.1 Оферты, в установленном Офертой порядке.</p>
    <p>4.2.6. При размещении информации о <em>Точки печати </em>может сопровождаться дополнительными информационно-справочными материалами Сервиса GlobalPrint (такими как информация об оценках, отзывах о данной <em>Точке печати,</em> но не ограничиваясь указанным).</p>
    <p><strong>4.3. <em>Точка печати</em> обязуется:</strong></p>
    <p>4.3.1. Осуществлять для Пользователей оказание услуг печати с соблюдением параметров предоставляемых Пользователем файлов, а также выбранным ими видом и качеством печати.</p>
    <p>4.3.3. Предоставлять информацию, содержание которой соответствует текущим предложениям данной <em>Точки печати</em>, и соблюдать заявленные условия услуг.</p>
    <p>4.3.4. Предоставить через Веб-интерфейс GlobalPrint информацию об услугах <em>Точки печати</em>.</p>
    <p>4.3.6. Обеспечить наличие на сайте GlobalPrint достоверных контактных данных <em>Точки печати, местонахождениии т.п.</em></p>
    <p>4.3.7. По требованию Эвергрина в срок, не превышающий трех календарных дней с момента получения данного требования, предоставить надлежаще заверенные копии документов, подтверждающие информацию об организации (ИП или частном лице), размещенную на сайте GlobalPrint.online, а также переданную Эвергрину в составе пакета документов. Стороны признают, что информация о продавце не является конфиденциальной.</p>
    <p>4.3.8. Оплатить Услуги Эвергрина по Договору в установленные в Оферте (Договоре) сроки и порядке.</p>
    <p>4.3.9. <em>Точка печати</em> соглашается, что показ предоставленных ею информацией может сопровождаться дополнительными информационными материалами Сервиса GlobalPrint, в том числе информацией об оценках <em>Точки печати</em>, отзывами Пользователями, но не ограничиваясь указанным.</p>
    <p><strong>4.4. <em>Точка печати</em> имеет право:</strong></p>
    <p>4.4.1. На доступ к своему личному кабинету и данным статистики в установленном порядке.</p>
    <p>4.4.2. Изменять информацию о <em>Точке печати</em> (в том числе условия размещения) в любое время с соблюдением всех установленных Договором требований.</p>
    <p>4.4.3. Приостановить и/или прекратить размещение информации о <em>Точке печати</em> в любое время.</p>
    <p>4.4.4. В случае несогласия с изменениями, внесенными Эвергрином в Общие условия и иные документы, указанные в п. 3.1 Оферты, отказаться от исполнения Договора в одностороннем порядке, письменно уведомив Эвергрин в срок не позднее 7 (семи) календарных дней с момента размещения указанных изменений в силу и оплатив Эвергрину стоимость фактически оказанных Услуг. Договор считается расторгнутым с момента получения Эвергрином уведомления <em>Точки печати.</em></p>
    <ol start="5">
        <li>Стоимость услуг и порядок расчетов</li>
    </ol>
    <p>5.1. Стоимость Услуг, оказанных Эвергрином по Договору, определяется в соответствии с Данными статистики Эвергрина в размере указанном в пункте 3.7 данного Договора.</p>
    <p>5.2. Оплата Услуг производится <em>Точкой печати</em> в российских рублях в безналичном порядке.</p>
    <p>5.3.1. В целях учета стоимости оказанных Услуг, в том числе в Данных статистики Эвергрина, могут использоваться условные единицы (у.е.). Соотношение у.е. с валютой расчетов по Договору (рубли РФ) указываются в Общих Условиях/Правилах и в Веб-интерфейсе клиента.</p>
    <p>5.4. Ежемесячно (в последний день отчетного периода) и/или в последний день оказания Услуг по Договору (Счету), Эвергрин формирует односторонний Акт об оказанных услугах в соответствии с объемом фактически оказанных в отчетном периоде Услуг. Общими условиями или Правилами может быть предусмотрен иной порядок и сроки формирования Актов об оказанных услугах.</p>
    <p>5.5 Услуги считаются оказанными Эвергрином надлежащем образом и принятыми <em>Точкой печати</em> в указанном в Акте объеме, если в течение <strong>пятнадцати дней</strong> по завершении отчетного периода Эвергрин не получил от Точка печати мотивированных письменных возражений.</p>
    <p>По истечении срока, указанного выше, претензии <em>Точки печати</em> по Акту, в том числе по количеству (объему), стоимости и качеству Услуг не принимаются.</p>
    <p>5.6 Сторонами согласовано, что в отношении любых денежных обязательств Сторон по Договору законные проценты (проценты на сумму долга за период пользования денежными средствами), предусмотренные ст. 317.1 ГК РФ, не начисляются.</p>
    <ol start="6">
        <li>Срок действия и изменение условий Оферты</li>
    </ol>
    <p>6.1. Оферта вступает в силу с даты, указанной в разделе &laquo;Дата вступления в силу&raquo; и действует до момента отзыва Оферты Эвергрином.</p>
    <p>6.2. Эвергрин оставляет за собой право внести изменения в условия Оферты (включая документы, указанные в п. 3.1 Оферты) и/или отозвать Оферту в любой момент по своему усмотрению. В случае внесения Эвергрином изменений в Оферту (документы, указанные в п. 6.3 Оферты), такие изменения вступают в силу с момента размещения измененного текста Оферты (документов, указанных в п. 3.1 Оферты) в сети Интернет по адресу <a href="https://globalprint.online/About/About">www.globalprint.online/About/About</a></p>
    <ol start="7">
        <li>Срок действия и изменение договора</li>
    </ol>
    <p>7.1. Акцепт Оферты <em>Точкой печати</em>, произведенный согласно ст. 6 Оферты, создает Договор (статья 438 Гражданского Кодекса РФ) на условиях Оферты.</p>
    <p>7.2. Договор вступает в силу с момента Акцепта Оферты <em>Точкой печати</em> и действует:</p>
    <p>а) до момента исполнения Сторонами обязательств по Договору, а именно оплаты <em>Точкой печати</em> стоимости Услуг и оказания Эвергрином Услуг в объеме, соответствующем стоимости Услуг, либо</p>
    <p>б) до момента расторжения Договора.</p>
    <p>7.3. <em>Точка печати</em> соглашается и признает, что внесение изменений в Оферту (в том числе в документы, указанные в п. 3.1 Оферты) влечет за собой внесение этих изменений в заключенный и действующий между <em>Точкой печати</em> и Эвергрином Договор, и эти изменения в Договор вступают в силу одновременно с такими изменениями в Оферту (в том числе в документы, указанные в п. 3.1 Оферты).</p>
    <p>7.4. В случае отзыва Оферты Эвергрином в течение срока действия Договора, Договор считается прекращенным с момента отзыва, если иное не оговорено Эвергрином при отзыве Оферты.</p>
    <ol start="8">
        <li>Расторжение договора</li>
    </ol>
    <p>8.1. Договор может быть расторгнут:</p>
    <p>8.1.1. по соглашению Сторон в любое время;</p>
    <p>8.1.2. Эвергрином в случае нарушения <em>Точкой печати</em> условий Договора немедленно с письменным уведомлением <em>Точки печати,</em></p>
    <p>8.1.3. по иным основаниям, предусмотренным настоящей Офертой и/или действующим законодательством РФ.</p>
    <p>8.2. Обязательства Сторон по Договору, которые в силу своей природы должны продолжать действовать (включая обязательства в отношении конфиденциальности, проведения взаиморасчетов, использованию информации, но, не ограничиваясь указанным), остаются в силе после окончания действия Договора.</p>
    <p>8.3. Прекращение срока действия Договора по любому основанию не освобождает Стороны от ответственности за нарушения условий Договора, возникшие в течение срока его действия.</p>
    <ol start="9">
        <li>Гарантии</li>
    </ol>
    <p>9.1. В течение срока действия Договора Эвергрин предпримет все усилия для устранения каких-либо сбоев и ошибок, в случае их возникновения. При этом Эвергрин не гарантирует отсутствия ошибок и сбоев при размещении информации и материалов, в том числе в отношении работы программного обеспечения.</p>
    <p>9.2. За исключением гарантий, прямо указанных в тексте Оферты, Эвергрин не предоставляет никаких иных прямых или подразумеваемых гарантий по Договору и прямо отказывается от каких-либо гарантий или условий в отношении не нарушения прав и соответствия Услуг конкретным целям <em>Точки печати</em>.</p>
    <p>9.3. Производя Акцепт Оферты, Пользователь, а также <em>Точка печати</em> (или представитель <em>Точки печати</em>, в т.ч. физическое лицо, должным образом уполномоченное заключить Договор от лица <em>Точки печати</em>) подтверждает и гарантирует Эвергрину, что:</p>
    <p>9.3.1. <em>Точка печати</em> указала достоверные данные, в том числе персональные данные <em>Точки печати</em> при регистрации в качестве пользователя на вэб-сервисе GlobalPrint и достоверные данные, в том числе персональные, а также при оформлении платежных документов по оплате Услуг.</p>
    <p>9.3.2. <em>Точка печати</em>, а также Пользователь дают согласие на обработку Эвергрином персональных данных, указанных ими при регистрации на на вэб-сервисе GlobalPrint и/или при заключении Договора, в том числе на совершение Эвергрином действий, предусмотренных п. 3 ст. 3 Федерального закона от 27.07.2006 года № 152-ФЗ &laquo;О персональных данных&raquo;, любыми способами, для целей заключения и исполнения Договора.</p>
    <p>9.3.3. Пользователь и <em>Точка печати</em> (представитель <em>Точки печати</em>):</p>
    <p>а) полностью ознакомился с условиями Оферты,</p>
    <p>б) полностью понимает предмет Оферты и Договора,</p>
    <p>в) полностью понимает значение и последствия своих действий в отношении заключения и исполнения Договора.</p>
    <p>9.3.4. Пользователь и <em>Точка печати</em> (представитель <em>Точка печати</em>) обладают всеми правами и полномочиями, необходимыми для заключения и исполнения Договора.</p>
    <p>9.3.5. Размещение (воспроизведение, показ), иное использование Эвергрином информации и иных материалов от Пользователя и <em>Точки печати </em>по Договору, а также Материалы (их содержание), к которым осуществляется переадресация пользователей, не нарушает и не влечет за собой нарушение каких-либо прав третьих лиц и действующего законодательства, в связи с чем Точка печати несет ответственность в соответствии с п.п.11.5, 11.6 Оферты.</p>
    <ol start="10">
        <li>Ответственность и ограничение ответственности</li>
    </ol>
    <p>10.1. За нарушение условий Договора Стороны несут ответственность, установленную Договором и/или действующим законодательством РФ.</p>
    <p>10.2. Эвергрин ни при каких обстоятельствах не несет никакой ответственности по Договору за:</p>
    <p>а) какие-либо косвенные убытки и/или упущенную выгоду Пользователя и <em>Точки печати</em> и/или третьих сторон вне зависимости от того, мог Эвергрин предвидеть возможность таких убытков или нет;</p>
    <p>б) использование/невозможность использования Пользователем и Точкой печати и/или третьими лицами любых средств и/или способов передачи/получения информации и Материалов</p>
    <p>10.3. Совокупный размер ответственности Эвергрина по Договору, включая размер штрафных санкций (пеней, неустоек) и/или возмещаемых убытков, по любому иску или претензии в отношении Договора или его исполнения, ограничивается 10 % стоимости Услуг по Договору.</p>
    <p>10.4. Стороны освобождаются от ответственности за частичное или полное неисполнение обязательств по настоящему Договору, если это неисполнение явилось следствием обстоятельств непреодолимой силы, которые возникли после заключения Договора, либо если неисполнение обязательств Сторонами по Договору явилось следствием событий чрезвычайного характера, которые Стороны не могли ни предвидеть, ни предотвратить разумными мерами.</p>
    <p>10.5. <em>Точка печати </em>несет ответственность в полном объеме за:</p>
    <p>а) соблюдение всех требований законодательства, в том числе законодательства о рекламе, об интеллектуальной собственности, о конкуренции, но не ограничиваясь перечисленным, в отношении содержания и формы Материалов и информации представленных ею в вэб-сервисе GlobalPrint,</p>
    <p>б) достоверность сведений, указанных ею при регистрации в качестве Пользователя на вэб-сервисе GlobalPrint, достоверность сведений, указанных в Материалах и в описании услуг.</p>
    <p>10.6. Принимая во внимание условия п.10.5 Оферты, <em>Точка печати</em> обязуется своими силами и за свой счет разрешать споры и урегулировать претензии третьих лиц в отношении Материалов, в связи с их размещением по Договору, либо возместить убытки (включая судебные расходы), причиненные Эвергрину в связи с претензиями и исками, основанием предъявления которых явилось размещение Материалов <em>Точки печати</em> по Договору. В случае если содержание, форма и/или размещение информации <em>Точки печати</em> по Договору явилось основанием для предъявления к Эвергрину предписаний по уплате штрафных санкций со стороны государственных органов, <em>Точка печати</em> обязуется незамедлительно по требованию Эвергрина предоставить ему всю запрашиваемую информацию, касающуюся размещения и содержания Материалов, содействовать Эвергрину в урегулировании предписаний, а также возместить все убытки (включая расходы по уплате штрафов), причиненные Эвергрину вследствие предъявления ему предписаний в результате размещения Материалов <em>Точки печати</em>.</p>
    <p>10.7. В случае нарушения <em>Точкой печати</em> условий Договора Эвергрин вправе приостановить оказание Услуг до момента устранения <em>Точкой печати</em> допущенных нарушений и возмещения (компенсации) причиненных Эвергрину таким нарушением убытков в полном объеме и/или расторгнуть Договор. При расторжении Договора по указанному основанию Эвергрин вправе путем удержания взыскать с <em>Точки печати</em> предъявленные в соответствии с Договором суммы неустоек и убытков.</p>
    <ol start="11">
        <li>Прочие условия</li>
    </ol>
    <p>11.1. Договор, его заключение и исполнение регулируется действующим законодательством Российской Федерации. Все вопросы, не урегулированные Офертой или урегулированные не полностью, регулируются в соответствии с материальным правом Российской Федерации. Если споры между Пользователем, <em>Точкой</em> <em>печати</em> и Эвергрином в отношении Договора не разрешены путем переговоров Сторон, они подлежат рассмотрению в порядке, предусмотренном действующим законодательством в Арбитражном суде г. Москвы.</p>
    <p>11.2. Стороны согласились, что условие сохранения конфиденциальности регистрационных данных (включая персональные данные), указанных <em>Точкой печати</em> при регистрации на Эвергрине и/или при заключении Договора, не распространяется на случаи использования Эвергрином таких данных в целях выставления Точке печати счетов на оказание Услуг, счетов-фактур и оформления с Точка печатиом актов сдачи-приемки Услуг. В указанных документах подлежат указанию данные (в том числе персональные данные) и реквизиты, предоставленные <em>Точкой печати</em>.</p>
    <p>11.3. Любые уведомления по Договору могут направляться одной Стороной другой Стороне:</p>
    <p>1) по электронной почте</p>
    <p>а) на адрес электронной почты Пользователя или <em>Точки печати</em> указанный им при регистрации на Эвергрине, с адреса электронной почты Эвергрина, указанного в п.13 Оферты в случае, если получателем является <em>Точка печати</em>, и</p>
    <p>б) на адрес электронной почты Эвергрина, указанный в п.13 Оферты, с адреса электронной почты Точки печати, Пользователя, указанного им при регистрации на Эвергрине;</p>
    <p>2) по факсу;</p>
    <p>3) почтой с уведомлением о вручении или курьерской службой с подтверждением доставки.</p>
    <p>11.4. В случае если одно или более положений Оферты являются по какой-либо причине недействительными, не имеющими юридической силы, такая недействительность не оказывает влияния на действительность любого другого положения Оферты (Договора), которые остаются в силе.</p>
    <p>11.5. Не вступая в противоречие с условиями Оферты, Пользователь, <em>Точка печати</em> и Эвергрин вправе в любое время оформить Договор на оказание Услуг в форме письменного двухстороннего документа.</p>
    <br />
    <ol start="12">
        <li>Реквизиты ООО &laquo;Эвергрин&raquo;</li>
    </ol>
    <table border="1">
        <tbody>
            <tr>
                <td width="50%">
                    <p><strong>Полное&nbsp; наименование организации</strong></p>
                </td>
                <td width="50%">
                    <p>Общество с ограниченной ответственностью &laquo;Эвергрин&raquo;</p>
                </td>
            </tr>
            <tr>
                <td width="50%">
                    <p><strong>Сокращенное&nbsp; наименование организации</strong></p>
                </td>
                <td width="50%">
                    <p>ООО &laquo;Эвергрин&raquo;</p>
                </td>
            </tr>
            <tr>
                <td width="50%">
                    <p><strong>Наименование организации на иностранном языке (английский)</strong></p>
                </td>
                <td width="50%">
                    <p>Evergreen Ltd.</p>
                </td>
            </tr>
            <tr>
                <td width="50%">
                    <p><strong>Юридический адрес</strong></p>
                </td>
                <td width="50%">
                    <p>119017, Россия, г. Москва, Старомонетный пер., д. 9, стр. 1</p>
                </td>
            </tr>
            <tr>
                <td width="50%">
                    <p><strong>Номер контактного телефона</strong></p>
                </td>
                <td width="50%">
                    <p>Телефон: +7 900 3259988</p>
                </td>
            </tr>
            <tr>
                <td width="50%">
                    <p><strong>E</strong><strong>-</strong><strong>mail</strong></p>
                    <p><strong>Web</strong></p>
                </td>
                <td width="50%">
                    <p><a href="mailto:sup.globalprint.online@gmail.com">sup.globalprint.online@gmail.com</a></p>
                    <p><a href="https://globalprint.online/About/About">www.globalprint.online/About/About</a></p>
                </td>
            </tr>
            <tr>
                <td width="50%">
                    <p><strong>ИНН</strong></p>
                </td>
                <td width="50%">
                    <p><strong>7706206824</strong></p>
                </td>
            </tr>
            <tr>
                <td width="50%">
                    <p><strong>ОГРН</strong></p>
                </td>
                <td width="50%">
                    <p><strong>1027739131188</strong></p>
                </td>
            </tr>
            <tr>
                <td width="50%">
                    <p><strong>Генеральный директор</strong></p>
                </td>
                <td width="50%">
                    <p>Семухин Илья Николаевич</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>