@using GlobalPrint.ServerBusinessLogic.Models.Domain.Orders
@using GlobalPrint.ClientWeb.Helpers
@using System.Globalization
@model PrintOrder
@{
    ViewBag.Title = "Заказ отправлен";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}

<div class="col-md-9">
    <div class="lkBox">
        <div class="lkBoxCont">
            <div class="defaultTitle">Ваш заказ отправлен в печать</div>

            @using (Html.BeginForm("Index", "Home", FormMethod.Get, new { @class = "smForm" }))
            {
                <div class="row regisRow">

                    <div class="tableName">Номер заказа:</div>
                    <label class="labelBox mgBottom">
                        @Html.TextBoxFor(m => m.ID, new { @class = "input-def", @style = "width:100%", @readonly = "readonly" })
                    </label>

                    <div class="tableName">Дата и время заказа:</div>
                    <label class="labelBox mgBottom">
                        @Html.TextBoxFor(m => m.OrderedOn, String.Format("{{0: {0} }}", CultureInfo.CurrentCulture.DateTimeFormat.FullDateTimePattern),
                            new { @class = "input-def", @style = "width:100%", @readonly = "readonly" })
                    </label>

                    <div class="tableName">Количество страниц:</div>
                    <label class="labelBox mgBottom">
                        @Html.TextBoxFor(m => m.PagesCount, new { @class = "input-def", @style = "width:100%", @readonly = "readonly" })
                    </label>

                    <div class="tableName">Стоимость:</div>
                    <label class="labelBox mgBottom">
                        @Html.TextBoxFor(m => m.PriceInCurrency, new { @class = "input-def", @style = "width:100%", @readonly = "readonly" })
                    </label>

                    <div class="buttonsBox" align="center">
                        <a href=@Url.Action("MyOrders", "Order") class="defaultButton coloredBtn white-text">Мои заказы</a>
                        <a href=@Url.Action("Index", "Home") class="defaultButton coloredBtn white-text">На главную</a>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
