@using GlobalPrint.ClientWeb.Helpers;
@using System.Globalization;

<a href="@Url.Action("UserProfile", "UserProfile")" class="font-bold">@ViewData["UserBalance"] <span class="fa fa-rub"></span></a>