<div class="menuLine">
    @if (ViewData != null && ViewData.ContainsKey("UserRecievedPrintOrdersCount") && 
        ViewData["UserRecievedPrintOrdersCount"] != null && int.Parse(ViewData["UserRecievedPrintOrdersCount"].ToString()) > 0)
    {
        <a href="@Url.Action("RecievedOrderList", "RecievedOrder")" class="messages">
            <img src="~/Content/img/alarm.png" alt="" />
            <span>@ViewData["UserRecievedPrintOrdersCount"]</span>

            @*<div class="outerDrop">
                    <div class="dropBox">
                        <div class="dropItem">
                            <div class="row">
                                <div class="col-md-2 col-xs-1 dropIco">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <div class="col-md-10 col-xs-9 dropDesc">
                                    У вас новое сообщение!
                                </div>
                            </div>
                        </div>
                        <div class="dropItem">
                            <div class="row">
                                <div class="col-md-2 col-xs-1 dropIco">
                                    <i class="fa fa-info"></i>
                                </div>
                                <div class="col-md-10 col-xs-9 dropDesc">
                                    Новое уведомление
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
        </a>
    }    
</div>
<div id="recievedOrdersSound"></div>

@if (ViewData != null && ViewData.ContainsKey("UserRecievedPrintOrdersCount") 
    && ViewData["UserRecievedPrintOrdersCount"] != null)
{
	<script type="text/javascript">
		(function () {
			var audioFile = "../Resources/Sounds/alarm";
			var recievedOrdersElement = document.getElementById("recievedOrdersSound");
			if (@ViewData["UserRecievedPrintOrdersCount"] > 0 && recievedOrdersElement) {
				recievedOrdersElement.innerHTML =
				   '<audio autoplay loop>' +
					   '<source src="' + audioFile + '.mp3" type="audio/mpeg" />' +
					   '<source src="' + audioFile + '.ogg" type="audio/ogg" />' +
					   '<embed hidden="true" autostart="true" loop="false" src="' + audioFile + '.mp3" />' +
				   '</audio>';
			}
		})();
	</script>
}
