@using Resources.ClientWeb.Shared
<a href="@Url.Action("UserRecievedPrintOrderList", "UserRecievedPrintOrderList")">@NavigationViewResource.IncomingOrdersMenuItem <span id="incomingOrdersCountBadge" class="badge badge-notify badge-notify-incoming-orders">@ViewData["UserRecievedPrintOrdersCount"]</span></a>