@using GlobalPrint.ClientWeb.Helpers;
@using System.Globalization;

<a href="@Url.Action("UserRecievedPrintOrderList", "UserRecievedPrintOrderList")">Входящие заказы <span id="incomingOrdersCountBadge" class="badge badge-notify badge-notify-incoming-orders">@ViewData["UserRecievedPrintOrdersCount"]</span></a>