<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\Projects.Git\deploy\GlobalPrint.ClientWeb.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>GlobalPrint</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="GlobalPrint.ClientWeb.ApplicationDbContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GlobalPrint.ClientWeb.ApplicationDbContext, GlobalPrint.ClientWeb" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="GlobalPrint.Server.DB" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GlobalPrint.Server.DB, GlobalPrint.Server" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="GlobalPrint" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=127.0.0.1;User Id=postgres;Password=erwinrommel7;Port=5432;Database=global_print;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\GlobalPrint_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=127.0.0.1;User Id=postgres;Password=erwinrommel7;Port=5432;Database=global_print;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GlobalPrint.ClientWeb.ApplicationDbContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GlobalPrint.Server.DB-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="GlobalPrint.ClientWeb.ApplicationDbContext" />
    <_ConnectionStringsToInsert Include="GlobalPrint.Server.DB" />
  </ItemGroup>
</Project>