@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

@section Stylesheets {
    <link rel="stylesheet" href="~/Resources/Stylesheets/login/login.css">
}

@section Scripts {
    <script src="~/Resources/Scripts/login/login.js"></script>
}

<div class="container">

    <form class="form-signin">
        <h2 class="form-signin-heading">Please Login</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="onCheckLogin()">Login</button>
        <div class="main-page">
            <a href="/Home/Index">www.globalprint.online.ru</a>
        </div>
</form>

</div> <!-- /container -->