.white-text {
    text-decoration: none !important;
    color: white !important;
    display: inline-block;
    text-align: center;
}

.inline-block {
    display: inline-block;
}

.top,
.infoBox {
    z-index: 100;
}

.modal-dialog {
    z-index: 200;
}

.admin-button {
    background: #a9143d !important;
}

    .admin-button:hover {
        background: #c11746 !important;
    }

@media screen and (max-width:600px) {
    .white-text {
        margin-bottom: 10px;
        width: 100%;
    }

    /*Кнопки в информации о принтере на главной форме*/
    .printer-info-btn {
        max-width: 200px;
    }
}

.relative {
    position: relative;
}

.login-remember-me {
    margin-top: 13px;
    color: #667584;
    text-transform: uppercase;
    font-weight: 600;
}

/*Стили для форм с коротким сообщением*/
.confirmation-form {
    width: 580px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,.3);
    margin: auto;
    padding: 25px 30px 40px;
}

.confirmation-header {
    font-size: 30px;
    padding-bottom: 20px;
    color: #667584;
}

.confirmation-text {
    font-size: 16px;
    color: #667584;
}

    .confirmation-text a,
    .offer-container a {
        color: #ec416f;
    }

/*Стили для формы обратной связи*/
.feedback-message {
    height: 250px;
}

/*Стили для страницы оферты*/
.offer-body {
    background: #f5f5f5;
    padding: 60px 0px;
}

.offer-container {
    width: 1050px;
    margin: auto;
    background: #fff;
    padding: 25px 50px;
}

@media screen and (max-width:1000px) {
    .offer-container {
        width: 100%;
    }

    .offer-body {
        padding: 0;
    }
}

.offer-title {
    padding-bottom: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 40px;
    text-transform: uppercase;
    color: #000;
}

.offer-table td {
    text-align: left;
}
