/* Important styles */
.toggle-menu-button {
    display: block;
    width: 28px;
    height: 30px;
    padding-top: 10px;
    margin: 10px auto 10px;
}

    .toggle-menu-button span:after,
    .toggle-menu-button span:before {
        content: "";
        position: absolute;
        left: 0;
        top: -9px;
    }

    .toggle-menu-button span:after {
        top: 9px;
    }

    .toggle-menu-button span {
        position: relative;
        display: block;
    }

        .toggle-menu-button span,
        .toggle-menu-button span:after,
        .toggle-menu-button span:before {
            width: 100%;
            height: 5px;
            background-color: #888;
            transition: all 0.3s;
            backface-visibility: hidden;
            border-radius: 2px;
        }

    /* on activation */
    .toggle-menu-button.on span {
        background-color: transparent;
    }

        .toggle-menu-button.on span:before {
            transform: rotate(45deg) translate(5px, 5px);
        }

        .toggle-menu-button.on span:after {
            transform: rotate(-45deg) translate(7px, -8px);
        }

    .toggle-menu-button.on + .toggle-menu {
        opacity: 1;
        display: block;
    }

/* menu appearance*/
.toggle-menu {
    position: absolute;
    z-index:1;
    border: 1px solid;
    right: 45px;
    color: #999;
    width: 200px;
    padding: 10px;
    margin: auto;
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
    text-align: center;
    border-radius: 4px;
    background: white;
    box-shadow: 0 1px 8px rgba(0,0,0,0.05);
    /* just for this demo */
    opacity: 0;
    display: none;
    transition: opacity .4s;
}

    .toggle-menu ul,
    .toggle-menu li,
    .toggle-menu li a {
        list-style: none;
        display: block;
        margin: 0;
        padding: 0;
    }

        .toggle-menu li a {
            padding: 5px;
            color: #888;
            text-decoration: none;
            transition: all .2s;
        }

            .toggle-menu li a:hover,
            .toggle-menu li a:focus {
                background: #ec416f;
                color: #fff;
            }
