@{
	ViewBag.Title = "Пополнение баланса";
	Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}

@section Scripts {
	<script src="~/Resources/Scripts/GlobalPrint/UserProfile/FillUpBalance.js"></script>
}

<div class="col-md-8">
	<div class="lkBox">

		<div class="lkBoxCont">
			<div class="defaultTitle">
				Пополнение баланса
			</div>
			@using (Html.BeginForm("ExecuteFillUpBalance", "UserProfile", FormMethod.Post, new { @role = "form", @id = "fillUpBalanceForm" }))
			{
				<div class="row regisRow">
					<div class="col-md-3">
						<div class="tableName">Сумма:</div>
					</div>
					<div class="col-md-9 input-wrapper">

						<label class="labelBox input-group">
							<input class="input-def" id="AmountOfMoney" name="AmountOfMoney" type="number" value="300" min="1" step="any" max="10000" style="width:100%">
							<div class="dLabel">руб.</div>
						</label>

					</div>
				</div>

				<div class="buttonsBox">
					<a href="#"><button type="submit" class="defaultButton coloredBtn">Пополнить</button></a>
					<a href=@Url.Action("UserProfile", "UserProfile") class="defaultButton coloredBtn white-text">Отмена</a>
				</div>
			}
		</div>

	</div>
</div>