@using GlobalPrint.ServerBusinessLogic.Models.Domain.Users
@using GlobalPrint.ServerBusinessLogic.Models.Business.Payments
@using GlobalPrint.ClientWeb.Models.Lookup
@model SendModeyPackage
@{
    ViewBag.Title = "Отправка денег";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
    User SenderUser = (User)ViewBag.SenderUser;
}

@section Scripts {
    <script src="~/Resources/Scripts/GlobalPrint/UserProfile/SendMoney.js"></script>
}

<div class="col-md-9">
	<div class="lkBox">

		<div class="lkBoxCont">
			<div class="defaultTitle">Денежные переводы</div>

			@using (Html.BeginForm("ExecuteSendMoney", "UserProfile", FormMethod.Post, new { @class = "smForm", @id = "sendModeyForm" }))
			{
				@Html.Hidden("UserAmountOfMoney", SenderUser.AmountOfMoney, new { @id = "userAmountOfMoney" })
				@Html.Hidden("SenderUserId", Model.SenderUserId, new { @id = "senderUserId" })

				<div class="row regisRow">
					<div class="col-md-3">
						<div class="tableName">Пользователь:</div>
					</div>
					<div class="col-md-9 input-wrapper">
						@Html.Lookup(LookupTypeEnum.User, "ReceiverUserId", Model.ReceiverUserId)
					</div>
				</div>

				<div class="row regisRow">
					<div class="col-md-3">
						<div class="tableName">Сумма перевода:</div>
					</div>
					<div class="col-md-9 input-wrapper">

						<label class="labelBox input-group">
							@Html.TextBox("AmountOfMoney", Model.AmountOfMoney == 0 ? "" : Model.AmountOfMoney.ToString(), new { @type = "text", @class = "input-def", @style = "width:100%" })
							<div class="dLabel">руб.</div>
						</label>

					</div>
				</div>

				<div class="buttonsBox">
					<a href="#"><button type="submit" class="defaultButton coloredBtn">Отправить</button></a>
					<a href=@Url.Action("UserProfile", "UserProfile") class="defaultButton coloredBtn white-text">Отмена</a>
				</div>
			}
		</div>

	</div>
</div>