<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
  autoReload="true"
  throwExceptions="true">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
-->

  <variable name="logDir" value="{basedir}\logs" />

  <!-- Настройка Layout -->
  <variable name="commonLayout" 
    value="========================================= ${level:uppercase=true} ========================================= ${newline}
    Date: ${date:format=dd\\.MM\\.yyyy HH\\:mm\\:ss} ${newline}
    Location: ${callsite} ${newline}
    Message: ${message} ${newline}
    Details: ${exception:format=ToString,StackTrace:topFrames=10}"/>
  <variable name="commonLayout" value="${date:format=dd.MM.yyyy HH\:mm\:ss} (${level:uppercase=true}) ${logger}: ${message} ${exception:format=tostring}"/>
  <variable name="detailedLayout" value="${date:format=dd.MM.yyyy HH\:mm\:ss} (${level:uppercase=true}): ${message}. ${exception:format=ToString}"/>

  <targets>
    
    <!--Сюда пишется все, но хранится только 30 дней-->
    <target name="fileVerbose" xsi:type="File"
      layout="${commonLayout}"
      fileName="${logDir}/verbose.log"
      archiveFileName="${logDir}/archives/verbose/${shortdate}.log"
      archiveEvery="Week"
      archiveNumbering="Rolling"
      maxArchiveFiles="30"
      concurrentWrites="true"
      keepFileOpen="false" />

    <!--Сюда пишутся только предупреждения и ошибки, зато хранится три месяца-->
    <target name="fileTarget" xsi:type="File"
      layout="${commonLayout}"
      fileName="${logDir}/error.log"
      archiveFileName="${logDir}/archives/error/${shortdate}.log"
      archiveEvery="Week"
      archiveNumbering="Rolling"
      maxArchiveFiles="90"
      concurrentWrites="true"
      keepFileOpen="false" />

    <target name="mailTarget" xsi:type="Mail" 
          footer="-------------------------------------------------------------------------- ${newline}
            Best regards, ${newline}
            Your Global Print ${newline}
            Website: https://globalprint.online/ ${newline}
            Mail: globalprint.online.example@gmail.com"
          layout="Oops... Some error occured during Global Print Web run... ${newline}
            ${commonLayout}"
          html="false"
          subject="Global Print Error (${level:uppercase=true}) [${date:format=dd\\.MM\\.yyyy HH\\:mm}]"
          to="sergei.lisiutin@gmail.com"
          from="sergei.lisiutin@gmail.com"
          smtpUserName="sergei.lisiutin@gmail.com"
          enableSsl="true"
          smtpPassword="littlelion9310-"
          smtpAuthentication="basic"
          smtpServer="smtp.gmail.com"
          smtpPort="587"
          useSystemNetMailSettings="false"
          deliveryMethod="Network" />

  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="fileVerbose" />
    <logger name="*" minlevel="Warn" writeTo="fileTarget" />
    <logger name="*" minlevel="Error" writeTo="mailTarget" />
  </rules>
  
</nlog>