<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>  
    
  <!-- =================================================== Entity Framework, Connection settings ===================================================== -->
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <connectionStrings>
    <add name="GlobalPrint" providerName="Npgsql" connectionString="Server=127.0.0.1;User Id=postgres;Password=erwinrommel7;Port=5432;Database=global_print;" />
  </connectionStrings>
  
  <!-- ============================================================ SMTP for email sending ============================================================== -->
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="network" from="Support GlobalPrint &lt;sup.globalprint.online@gmail.com&gt;">
        <network host="smtp.gmail.com" port="587" defaultCredentials="false" enableSsl="true" userName="sup.globalprint.online@gmail.com" password="global2016print-" />
      </smtp>
    </mailSettings>
  </system.net>
    
  <!-- ====================================================================== Nlog ====================================================================== -->
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="true">
    <extensions>
      <add prefix="gpcw" assembly="GlobalPrint.ClientWeb" />
    </extensions>
    <variable name="logDir" value="${basedir}\logs" />
    <!-- Настройка Layout -->
    <variable name="commonLayout" 
              value="========================================= ${level:uppercase=true} ========================================= ${newline}System configuration mode: ${gpcw.system-configuration}${newline}User: ${aspnet-user-identity} ${newline}Message type: ${level} ${newline}Date: ${date:format=dd.MM.yyyy HH\:mm\:ss} ${newline}Location: ${callsite} ${newline}Message: ${message} ${newline}Details: ${exception:format=ToString,StackTrace:topFrames=10}" />
    <targets>
      <!--Сюда пишется все, но хранится только 3 мес-->
      <target name="fileAll" xsi:type="File" layout="${commonLayout}" fileName="${logDir}/all.log" 
              archiveFileName="${logDir}/archives/all/${shortdate}.log" archiveEvery="Month" 
              archiveNumbering="Rolling" maxArchiveFiles="3" concurrentWrites="true" keepFileOpen="false" />
      <!--Сюда пишутся только предупреждения и ошибки, зато хранится 6 мес-->
      <target name="fileTarget" xsi:type="File" layout="${commonLayout}" fileName="${logDir}/error.log" 
              archiveFileName="${logDir}/archives/error/${shortdate}.log" archiveEvery="Month" 
              archiveNumbering="Rolling" maxArchiveFiles="6" concurrentWrites="true" keepFileOpen="false" />
      <!--Ошибки отправляются по email в техподдержку-->
      <target name="mailTarget" 
              xsi:type="Mail" 
              footer="${newline}-------------------------------------------------------------------------- ${newline}Best regards, ${newline}Your Global Print ${newline}Website: https://globalprint.online/ ${newline}Mail: support@globalprint.online" 
              layout="Oops... Some error occured during Global Print Web run... ${newline}${newline}${commonLayout}" 
              subject="Global Print Error (${gpcw.system-configuration}) [${date:format=dd.MM.yyyy HH\:mm\:ss}]" 
              html="false" 
              to="sup.globalprint.online@gmail.com" 
              cc="support@globalprint.online" 
              useSystemNetMailSettings="true" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="fileAll" />
      <logger name="*" minlevel="Warn" writeTo="fileTarget" />
      <logger name="*" minlevel="Error" writeTo="mailTarget" />
    </rules>
  </nlog>
  
  <!-- ============================================================== Application settings =============================================================== -->
  <appSettings>
    <!-- System -->
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!-- Custom. Common settings -->
    <add key="GlobalPrintSiteUrl" value="https://globalprint.online" />
    
    <!-- SMPP for SMS sending -->
    <add key="SmppLogin" value="3784_ilya.semuk" />
    <add key="SmppPassword" value="0d7539e6" />
    <add key="SmppHost" value="smpp.sms48.ru" />
    <add key="SmppPort" value="13579" />
    <add key="SmppSender" value="Soft_3784" />
    <add key="SmppEnabled" value="0" />

    <!-- Robokassa keys -->
    <add key="RobokassaLogin" value="Gprint" />
    <!-- Production -->
    <add key="RobokassaPass1" value="grisha2015_" />
    <add key="RobokassaPass2" value="grisha2016_" />
    <!--Test
    <add key="RobokassaPass1" value="grisha2017_" />
    <add key="RobokassaPass2" value="grisha2018_" />
    -->
    <!-- Test or Production -->
    <add key="RobokassaMode" value="Production" />

    <!-- Email addresses -->
    <add key="DevelopersEmail" value="sup.globalprint.online@gmail.com" />
    <add key="DevelopersEmailDisplayName" value="GlobalPrint" />
    <add key="SupportEmail" value="support@globalprint.online" />
    <add key="SupportEmailDisplayName" value="Support GlobalPrint" />
    
    <!-- Google Firebase keys for push notifications sending -->
    <add key="FirebaseCloudMessagingToken" value="AAAAHl4e0UQ:APA91bHYP-x-0NM00iwLOM_2qrKct-6Fad-ipo1qS4KiFzjQ3q9NwxZP5Vry15XOnKazn8q-cKl5T-d1Fy126feizaDvFCVgfb9aLE4HI4LQA36dyydZTbnP4bHDMP9A1UxJW0ALwfbv6V0yGKyGZpRMJh44Wx3X0g" />
    <add key="FirebaseServerApiKey" value="AIzaSyBN9GmnvUmZh9I5NR9Tl7j-fTgnzOHE33A" />
    <add key="FirebaseSenderID" value="130428096836" />
  
    <!-- Users activity checker stuff -->
    <add key="ActivityCheckerThreshold" value="30" />
    <add key="ActivityCheckerCallInterval" value="5" />
    <add key="UserFilesFolder" value="C:\GlobalPrint\Files" />
    
    <!-- Max debts -->
    <add key="MaxDebtPerAccount" value="200" />
    <add key="MaxDebtPerSystem" value="5000" />
  </appSettings>
      
  <!-- ============================================================== System settings =============================================================== -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <customErrors mode="Off" />
    <httpRuntime maxRequestLength="160384" targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.7.0" newVersion="3.1.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, EntityFramework6.Npgsql" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Npgsql" />
      <add name="Npgsql" invariant="Npgsql" description=".Net Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql, Version=3.1.3.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />
    </DbProviderFactories>
  </system.data>

</configuration>