@{
    ViewBag.Title = "Обратная связь";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<div class="container verticalWrap">
    <div class="confirmation-form">

        <div class="confirmation-header">Обратная связь</div>
        <div class="confirmation-text">
            Ваше сообщение успешно отправлено. Спасибо Вам за отзыв о нашем сервисе. Нам очень важно ваше мнение, ведь Вы помогаете нам стать еще лучше!
        </div>

    </div>
</div>
