@using GlobalPrint.ClientWeb.Models.FeedbackViewModel
@model FeedbackViewModel

@{
    ViewBag.Title = "Обратная связь";
    Layout = "~/Views/Shared/_NavigationLayout.cshtml";
}

<div class="container verticalWrap">
    <div class="loginForm">
        <div class="loginTitle">
            Обратная связь
        </div>

        @using (Html.BeginForm("Feedback", "Feedback", FormMethod.Post, new { role = "form" }))
        {
            <div class="loginFormLabel">
                <p>E-Mail</p>
                @Html.TextBoxFor(m => m.Email, new { @class = "loginFormInput", @type = "email", @required = "true", @autofocus = true })
            </div>

            <div class="loginFormLabel">
                <p>Имя пользователя</p>
                @Html.TextBoxFor(m => m.UserName, new { @class = "loginFormInput", @required = "true" })
            </div>

            <div class="loginFormLabel">
                <p>Тема</p>
                @Html.TextBoxFor(m => m.Subject, new { @class = "loginFormInput", @required = "true" })
            </div>

            <div class="loginFormLabel">
                <p>Сообщение</p>
                @Html.TextAreaFor(m => m.Message, 10, 55, new { @class = "loginFormInput feedback-message", @required = "true" })
            </div>

            <div class="row" style="margin-top:15px;">
                <div class="col-md-7 col-xs-12"></div>
                <div class="col-md-5" align="right">
                    <button class="goReg" type="submit">Отправить</button>
                </div>
            </div>
            
        }
    </div>
</div>
