body {
    padding-top: 50px;
}

.content {
    position: relative;
}

.container-full {
    margin: 0 auto;
    width: 100%;
}

.form-horizontal .control-label.text-left {
    text-align: left;
}

.margin-top-20 {
    margin-top: 20px;
}

.font-bold {
    font-weight: bold;
}

.clockpicker {
    width: 100px;
}

.badge-notify {
   background:red;
   position:relative;
}
.badge-notify.badge-notify-incoming-orders {
   top: -12px;
   left: -5px;
}

/*for vertical-align as center*/
.vertical-center {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.gp-data-filter {
    margin: 20px 10px 20px 10px !important;
}