body {
  min-height: 2000px;
  padding-top: 51px;
}
.form-horizontal .control-label.text-left{
    text-align: left;
}
.margin-top-20 {
    margin-top:20px;
}
.font-bold {
    font-weight: bold;
}