body {
    padding-top: 50px;
}

.content {
    position: relative;
}

.container-full {
    margin: 0 auto;
    width: 100%;
}

.form-horizontal .control-label.text-left {
    text-align: left;
}

.margin-top-20 {
    margin-top: 20px;
}

.font-bold {
    font-weight: bold;
}

.clockpicker {
    width: 100px;
}

.badge-notify {
    background: red;
    position: relative;
}

    .badge-notify.badge-notify-incoming-orders {
        top: -12px;
        left: -5px;
    }

/*for vertical-align as center*/
.vertical-center {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.gp-data-filter {
    margin: 20px 10px 20px 10px !important;
}

/* for progressbar in new order page */
.progressbar-wrapper {
    height: 30px;
    margin: 0;
    padding: 0;
    width: 30%;
    text-align: center;
}

.progressbar-bar {
    display: table;
    background-image: linear-gradient(to bottom,#5bc0de 0,#337ab7 100%);
}

.progressbar-text {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

/* Logo "GlobalPrint" on main page */
.main-page-logo {
    max-height: 40px;
    margin-top: -10px;
}

/* last table column for buttons */
.table-col-buttons {
    text-align: center;
    min-width: 100px !important;
}

th {
    text-align: center;
}

.img-centred {
    margin: 0 auto;
}

.h1, h1 {
    font-size: 20px;
}

.h2, h2 {
    font-size: 20px;
}

.rating-symbol {
    color: #dada2f;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}




/* .modal-fullscreen */

.modal-fullscreen {
    background: transparent;
}

    .modal-fullscreen .modal-content {
        background: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

.modal-backdrop.modal-backdrop-fullscreen {
    background: #ffffff;
}

    .modal-backdrop.modal-backdrop-fullscreen.in {
        opacity: .99;
        filter: alpha(opacity=99);
    }

/* .modal-fullscreen size: we use Bootstrap media query breakpoints */

.modal-fullscreen .modal-dialog {
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

@media (min-width: 768px) {
    .modal-fullscreen .modal-dialog {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .modal-fullscreen .modal-dialog {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .modal-fullscreen .modal-dialog {
        width: 1170px;
    }
}

.modal-body-content {
    overflow: auto;
}


.loading .one {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.0s;
    animation: dot 1.3s infinite;
    animation-delay: 0.0s;
}

.loading .two {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.2s;
    animation: dot 1.3s infinite;
    animation-delay: 0.2s;
}

.loading .three {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.3s;
    animation: dot 1.3s infinite;
    animation-delay: 0.3s;
}

@-webkit-keyframes dot {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes dot {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.currency-input {
    min-width: 70px;
}
