@using Resources.ClientWeb.Account

@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
    ViewBag.Title = ConfirmEmailViewResource.ConfirmEmailFormTabTitle;
}

@section Stylesheets {
    <link href="~/Resources/Stylesheets/shared/display-form.css" rel="stylesheet" />
}

<div class="display-form-content">
    <h2>@ConfirmEmailViewResource.ConfirmEmailFormHeader</h2>
    <p>
        @ConfirmEmailViewResource.LoginLinkString
        @Html.ActionLink(ConfirmEmailViewResource.LoginLinkLabel, "Login", "Account")
    </p>
</div>