@using System.Globalization
@using GlobalPrint.ClientWeb.Helpers

@{
    ViewBag.Title = "Регистрация";
    Layout = "~/Views/Shared/_NavigationLayout.cshtml";
}

<div class="container verticalWrap">
    <div class="confirmation-form">

        <div class="confirmation-header">Подтверждение email</div>
        <div class="confirmation-text">
            Спасибо за подтверждение вашего email. Пожалуйста, перейдите по
            @Html.ActionLink("ссылке", "Login", "Account", null, new { id = "loginLink" }), чтобы войти на сайт.
        </div>

    </div>
</div>
