@{
    ViewBag.Title = "Регистрация";
    Layout = "~/Views/Shared/_NavigationLayout.cshtml";
}

<div class="container verticalWrap">
    <div class="confirmation-form">

        <div class="confirmation-header">Завершение регистрации</div>
        <div class="confirmation-text">
            На указанный электронный адрес отправлены дальнейшие инструкции по завершению регистрации.
        </div>

    </div>
</div>
