@{
    ViewBag.Title = "Подтверждение email";
    Layout = "~/Views/Shared/_NavigationLayout.cshtml";
}

<div class="container verticalWrap">
    <div class="confirmation-form">

        <div class="confirmation-header">Восстановление пароля</div>
        <div class="confirmation-text">Пожалуйста, проверьте Ваш email, чтобы изменить пароль.</div>

    </div>
</div>