@using Resources.ClientWeb.Account

@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
    ViewBag.Title = ForgotPasswordConfirmationViewResource.ForgotPasswordConfirmationFormTabTitle;
}

@section Stylesheets {
    <link href="~/Resources/Stylesheets/shared/display-form.css" rel="stylesheet" />
}

<div class="display-form-content">
    <h2>@ForgotPasswordConfirmationViewResource.ForgotPasswordConfirmationFormHeader</h2>
    <p>@ForgotPasswordConfirmationViewResource.ForgotPasswordConfirmationString</p>
</div>