@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
    ViewBag.Title = "Подтверждение email";
}

@section Stylesheets {
    <link href="~/Resources/Stylesheets/account/displayEmail.css" rel="stylesheet" />
}

<div class="display-email-content">
    <h2>Восстановление пароля</h2>
    <p>Пожалуйста, проверьте Ваш email, чтобы изменить пароль</p>
</div>