@using GlobalPrint.ClientWeb
@model ForgotPasswordViewModel

@{
    ViewBag.Title = "Восстановление пароля";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}
@section Stylesheets {
    <link rel="stylesheet" href="~/Resources/Stylesheets/shared/edit-form.css">
}

<div class="container edit-form">
    <h3 class="edit-form-heading">Восстановление пароля</h3>

    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
       
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @type = "email", @placeholder = "Email", @required = "true", @autofocus = true })
       
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        @Html.ValidationMessage("", new { @class = "text-danger" });

        <button class="btn btn-default btn-primary btn-block" type="submit">Подтвердить email</button>
    }
    
</div>