@using GlobalPrint.ClientWeb.Helpers
@using System.Globalization

@{
    ViewBag.Title = "Изменение пароля";
    Layout = "~/Views/Shared/_NavigationLayout.cshtml";
}

<div class="container verticalWrap">
    <div class="confirmation-form">

        <div class="confirmation-header">Подтверждение изменения пароля</div>
        <div class="confirmation-text">
            Ваш пароль был изменен. Пожалуйста, перейдите по
            @Html.ActionLink("ссылке", "Login", "Account", null, new { id = "loginLink" }),
            чтобы войти.
        </div>

    </div>
</div>