@using GlobalPrint.ClientWeb.Helpers
@using System.Globalization

@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
    ViewBag.Title = "Подтверждение изменения пароля";
}

@section Stylesheets {
    <link href="~/Resources/Stylesheets/shared/display-form.css" rel="stylesheet" />
}

<div class="display-form-content">
    <h2>@ViewBag.Title</h2>
    <p>
        Ваш пароль был изменен. Пожалуйста, перейдите по 
        @Html.ActionLink("ссылке", "Login", "Account", null, new { id = "loginLink" }), 
        чтобы войти.
    </p>
</div>