@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
    ViewBag.Title = "Подтверждение изменения пароля";
}

@section Stylesheets {
    <link href="~/Resources/Stylesheets/account/displayEmail.css" rel="stylesheet" />
}

<div class="display-email-content">
    <h2>@ViewBag.Title</h2>
    <p>
        Ваш пароль был изменен. Пожалуйста, перейдите по 
        @Html.ActionLink("ссылке", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }), 
        чтобы войти.
    </p>
</div>