@using Microsoft.AspNet.Identity
@using GlobalPrint.ClientWeb.Helpers
@using System.Globalization
@using GlobalPrint.ServerBusinessLogic.Models.Domain.Users

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()

        <div class="menu">
            <div class="container">
                <div class="col-md-5 menuLine" align="center">
                    <a href="/">
                        <img src="~/Content/img/logo.png" alt="" class="headLogo" />
                    </a>
                    <div class="menuLine">
                       @Html.ActionLink("О проекте", "About", "About", null, new { @class = "aboutLink" })
                    </div>
                </div>
                <div class="col-md-1" align="center">
                    @{Html.RenderAction("UserRecievedPrintOrder", "UserPrintInfo");}
                </div>
                <div class="col-md-6">
                    <div class="menuLine profLine">
                        <div class="topProfile">
                            @{Html.RenderAction("UserName", "UserPrintInfo");}
                            @{Html.RenderAction("UserBalance", "UserPrintInfo");}
                            <a href="javascript:document.getElementById('logoutForm').submit()" class="whBtn">Выйти</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="menu">
	    <div class="container">
		    <div class="col-md-5 menuLine">
			    <a href="/">
                    <img src="~/Content/img/logo.png" alt="" class="headLogo"/>
			    </a>
		    </div>
		    <div class="col-md-7">
			    <div class="menuLine profLine">
				    <div class="topProfile">
                        <a href=@Url.Action("Register", "Account") id = "registerLink">
                            <button class="whBtn defTop">Зарегистрироваться</button>
                        </a>
                        <a href=@Url.Action("Login", "Account") id = "loginLink">
                            <button class="whBtn defTop">Войти</button>
                        </a>
                        <a href=@Url.Action("About", "About")>
                            <button class="whBtn defTop">О проекте</button>
                        </a>
				    </div>
			    </div>
		    </div>
	    </div>
    </div>
}