@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
    ViewBag.Title = "Оферта";
}

@section Stylesheets {
    <link href="~/Resources/Stylesheets/shared/display-form.css" rel="stylesheet" />
}

<div class="display-form-content-large">
    <h2>Оферта</h2>
    <p>
        @{string firstPart = "Своей волей и в своем интересе даю согласие на обработку, в т.ч." +
                            " на сбор, систематизацию, накопление, хранение, (уточнение, обновление, изменение), использование," +
                            " передачу третьим лицам (со списком третьих лиц можно ознакомиться где-то)," +
                            " обезличивание, блокирование, уничтожение, моих персональных данных," +
                            " которые в зависимости от документа (анкета, заявление и т.п.) включают," +
                            " но не ограничиваются следующими ПДн: ФИО, дата рождения, пол, паспортные данные" +
                            " (серия, номер, кем и когда выдан), адрес регистрации или пребывания (фактический адрес проживания)," +
                            " номер контактного телефона, адрес электронной почты, Обществу с ограниченной ответственностью «Тест»," +
                            " ОГРН 1234567890 (123123, г. Казань, ул. Московская, д. -1), с целью предоставления мне своих товаров и" +
                            " услуг (продуктов), включая, но не ограничиваясь: идентификацией участника в программе лояльности," +
                            " обеспечения процедуры учета накопления и использования бонусов, осуществление доставки," +
                            " предоставление сервисных услуг, распространения рекламных сообщений" +
                            " (в т.ч. о проводимых акциях и специальных предложениях через любые каналы коммуникации, в том числе по почте," +
                            " SMS, электронной почте, телефону, иным средствам связи), сбора мнения о работе магазинов ООО «Тест».";
        }
        @firstPart
    </p>
    <p>
        @{string secondPart = "Я согласен(на), что мои персональные данные будут обрабатываться способами," +
                            " соответствующими целям обработки персональных данных, в т.ч.с использованием средств автоматизации или без использования" +
                            " таких средств. А так же я согласен(на) с тем, что согласие данное мной в электронной форме на сайте является согласием," +
                            " полностью отвечающим требованиям законодательства о персональных данных и позволяющим подтвердить факт его получения" +
                            " ООО «Тест».";
        }
        @secondPart
    </p>
    <p>
        @{ string thirdPart = "Согласие дается мной на 5 лет и до меня доведено, что в том случае если я являюсь участником Программы лояльности," +
                          " мое согласие автоматически продлевается на срок моего участия в программе или на срок действия Программы." +
                          " Настоящее согласие может быть отозванной мной в любой момент путем направления соответствующего письменного" +
                          " обращения по адресу 123123, г. Казань, ул. Московская, д. -1 с пометкой «Отзыв персональных данных».";
        }
        @thirdPart
    </p>
</div>