@using GlobalPrint.ClientWeb.Models
@model SimpleMessage

@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

@section Stylesheets {
    <link href="~/Resources/Stylesheets/shared/display-form.css" rel="stylesheet" />
}

<div class="display-form-content">
    <h2>@Model.Title</h2>
    <p>@Model.Message</p>
</div>