body {
  padding-top: 40px;
  padding-bottom: 40px;
}
.edit-form {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.edit-form-small {
    max-width: 300px;
}
.edit-form-medium {
    max-width: 400px;
}
.edit-form-large {
    max-width: 500px;
}

.edit-form .edit-form-heading,
.edit-form .edit-form-link {
  margin-top: 10px;
  text-align: center;
}
.edit-form .form-control,
.edit-form .btn {
  position: relative;
  height: auto;
  border-radius: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  margin-bottom: -1px;
  font-size: 16px;
}
.edit-form .btn {
  margin-top: 15px;
}
.edit-form .form-control:focus {
  z-index: 2;
}