@{
    ViewBag.Title = "О проекте";
    Layout = "~/Views/Shared/_NavigationLayout.cshtml";
}

@section Stylesheets {
    <link href="~/Resources/Stylesheets/team/team.css" rel="stylesheet" />
}

<!-- Page Content -->
<div class="container">

    <!-- Team Members Row -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header text-center">Global Print - печать здесь и сейчас!</h2>
        </div>
    </div>

       <div style="text-align:left;" >
            <h4>
                 Компания ООО «Эвергрин» (ИНН 7706206824) предоставляет сервис удалённой печати документов. <br>
                 Печать документов платная (10-30 рублей). <br>
                 Оплата производится посредством системы ROBOKASSA.<br>
            </h4>
            <p>Техническая поддержка круглосуточная:</p>
            <p>Тел.: +7 900 3259988</p>
            <p>Email: support@globalprint.online</p>
        </div>



</div>
<!-- /.container -->