@{
    ViewBag.Title = "О проекте";
    Layout = "~/Views/Shared/_NavigationLayout.cshtml";
}

@section Stylesheets {
    <link href="~/Resources/Stylesheets/team/team.css" rel="stylesheet" />
}

<!-- Page Content -->
<div class="container">

    <!-- Team Members Row -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header text-center">Global Print - печать здесь и сейчас!</h2>
        </div>
    </div>

</div>
<!-- /.container -->