@{
    ViewBag.Title = "Команда";
    Layout = "~/Views/Shared/_NavigationLayout.cshtml";
}

@section Stylesheets {
    <link href="~/Resources/Stylesheets/team/team.css" rel="stylesheet" />
}

<!-- Page Content -->
<div class="container">

    <!-- Team Members Row -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header text-center">Команда Global Print</h2>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="~/Resources/Documents/TeamPhoto/Ilya.jpg" alt="">
            <h3>
                Илья
                <small>Генеральный директор проекта</small>
            </h3>
            <p>Какая-то информация об Илье</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="~/Resources/Documents/TeamPhoto/Viktor.jpg" alt="">
            <h3>
                Виктор
                <small>Со-директор</small>
            </h3>
            <p>Какая-то информация о Викторе</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="~/Resources/Documents/TeamPhoto/Andrei Z.jpg" alt="">
            <h3>
                Андрей
                <small>Тим лидер группы разработки</small>
            </h3>
            <p>Какая-то информация об Андрее</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="~/Resources/Documents/TeamPhoto/Andrei.jpg" alt="">
            <h3>
                Андрей
                <small>Ведущий разработчик</small>
            </h3>
            <p>Какая-то информация об Андрее</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="~/Resources/Documents/TeamPhoto/Sergei.jpg" alt="">
            <h3>
                Сергей
                <small>Ведущий разработчик</small>
            </h3>
            <p>Какая-то информация о Сергее</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="~/Resources/Documents/TeamPhoto/Beer.jpg" alt="">
            <h3>
                Пиво
                <small>Генеральный спонсор проекта :D</small>
            </h3>
            <p>Никакой информации, просто пиво :D</p>
        </div>
    </div>

</div>
<!-- /.container -->