<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BitMiracle.LibTiff.NET" version="2.4.560" targetFramework="net452" />
  <package id="iTextSharp" version="5.5.9" targetFramework="net452" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net452" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4420.1017" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net452" />
  <package id="NLog" version="4.4.0-betaV15" targetFramework="net452" />
</packages>