@using System.Globalization
@using GlobalPrint.ClientWeb.Helpers

@{
    ViewBag.Title = "О проекте";
    Layout = "~/Views/Shared/_NavigationLayout.cshtml";
}

<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header text-center">Global Print - печать здесь и сейчас!</h2>
        </div>
    </div>

    <div style="text-align:left;">
        <p>Компания ООО «Эвергрин» (ИНН 7706206824) предоставляет сервис удалённой печати документов.</p>
        <p>Печать документов платная (10-30 рублей).</p>
        <p>Оплата производится посредством системы ROBOKASSA.</p>
        <p>Техническая поддержка круглосуточная:</p>
        <ul>
            <li>Тел.: +7 900 3259988</li>
            <li>Email: support@globalprint.online</li>
            <li>@Html.ActionLink("Обратная связь", "Feedback", "Feedback")</li>
        </ul>
    </div>

</div>