@{
    ViewBag.Title = "О проекте";
    Layout = "~/Views/Shared/_NavigationLayout.cshtml";
}

<div style="background:#f5f5f5; padding:60px 0px;">
    <div class="insertContainer">
        <div class="landTopBox">
            <div class="row">
                <div class="col-md-7">
                    <div class="ab-content">
                        <div class="ab-title wow fadeInDown">
                            <span>Глобальный сервис</span><br>
                            удалённой печати документов
                        </div>
                        <div class="ab-text wow fadeInDown">
                            Возможность моментальной печати в радиусе 500<br>
                            метров по всему миру!

                            <div>
                                @Html.ActionLink("Попробовать бесплатно", "Register", "Account", new { }, new { @class = "abBtn" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="planetTop wow fadeInDown">
                        <img src="~/Content/img/planet.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="lendSlider">
    <div class="bInsCont">
        <div class="slider">
            <div class="slide">
                <div class="row">
                    <div class="col-md-3" align="center">
                        <img src="~/Content/img/idea-ico.png" alt="" />
                    </div>
                    <div class="col-md-9">
                        <div class="sl-Title">Интуитивно понятный интерфейс</div>
                        <div class="sl-Text">Возможность оплаты на сайте является гарантом поступления средств на счёт держателя принтера подачи заявки на печать.</div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="row">
                    <div class="col-md-3" align="center">
                        <img src="~/Content/img/search-engine.png" alt="" />
                    </div>
                    <div class="col-md-9">
                        <div class="sl-Title">Интуитивно понятный интерфейс</div>
                        <div class="sl-Text">Возможность оплаты на сайте является гарантом поступления средств на счёт держателя принтера подачи заявки на печать.</div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="row">
                    <div class="col-md-3" align="center">
                        <img src="~/Content/img/networking.png" alt="" />
                    </div>
                    <div class="col-md-9">
                        <div class="sl-Title">Интуитивно понятный интерфейс</div>
                        <div class="sl-Text">Возможность оплаты на сайте является гарантом поступления средств на счёт держателя принтера подачи заявки на печать.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="roles">
    <div class="container">
        <div class="r-title">РОЛИ НА ПЛОЩАДКЕ</div>
        <div class="r-desc">Основная концепция нашей площадки: возможность оперативной печати в любом уголке<br> мира, а так же возможность зарабатывать и помогать другим, установив свой принтер на<br> нашей карте.</div>
        <div class="content">
            <div class="row">
                <div class="col-md-6 roleBox">
                    <div class="">
                        <p class="wow fadeInDown">
                            <img src="~/Content/img/manager.png" alt="" />
                        </p>

                        <div class="roleLabel wow fadeInDown">Клиент</div>
                        <div class="roleDesc wow fadeInDown">
                            Найдите ближайший принтер и<br>
                            воспользуйтесь возможностью<br>
                            оперативной печати
                        </div>

                        <ul class="checkList">
                            <li class="wow fadeInLeft" data-wow-delay="0"><img src="~/Content/img/check.png" alt="" /><p>Личный кабинет</p></li>
                            <li class="wow fadeInLeft" data-wow-delay=".1s"><img src="~/Content/img/check.png" alt="" /><p>Управление счётом</p></li>
                            <li class="wow fadeInLeft" data-wow-delay=".2s"><img src="~/Content/img/check.png" alt="" /><p>История платежей</p></li>
                            <li class="wow fadeInLeft" data-wow-delay=".3s"><img src="~/Content/img/check.png" alt="" /><p>Техническая поддержка</p></li>
                            <li class="wow fadeInLeft" data-wow-delay=".4s"><img src="~/Content/img/check.png" alt="" /><p>Пополнение счета любым <br>удобным способомт</p></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 roleBox">
                    <div class="">
                        <p class="wow fadeInDown">
                            <img src="~/Content/img/print.png" alt="" />
                        </p>

                        <div class="roleLabel wow fadeInDown">Принтер</div>
                        <div class="roleDesc wow fadeInDown">
                            Установите свой принтер и<br>
                            начните заработать вместе с<br>
                            Global Print
                        </div>

                        <ul class="checkList">
                            <li class="wow fadeInRight" data-wow-delay="0"><img src="~/Content/img/check.png" alt="" /><p>Личный кабинет</p></li>
                            <li class="wow fadeInRight" data-wow-delay=".1s"><img src="~/Content/img/check.png" alt="" /><p>Удобное оповещение о <br> входящем заказе</p></li>
                            <li class="wow fadeInRight" data-wow-delay=".2s"><img src="~/Content/img/check.png" alt="" /><p>Статистика заказов</p></li>
                            <li class="wow fadeInRight" data-wow-delay=".3s"><img src="~/Content/img/check.png" alt="" /><p>Мгновенный вывод денег</p></li>
                            <li class="wow fadeInRight" data-wow-delay=".4s"><img src="~/Content/img/check.png" alt="" /><p>Реестр заказов</p></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="partners">
    <div class="container">
        <div class="partTitle wow fadeInDown">
            Огромное количество <span>людей и компаний</span> выбирают выгодное<br>
            сотрудничество и лёгкое решение задач с <span>Global Print</span>
        </div>

        @*<div align="center" class="wow fadeIn">
            <img src="~/Content/img/partners.png" alt="" />
        </div>*@
    </div>
</div>

<div class="for">
    <div class="container">
        <div class="r-title">КОМУ ЭТО НУЖНО?</div>
        <div class="r-desc">
            Миллионы людей повсеместно сталкиваются с задачей оперативной печати. Это происходит каждый день и крадет<br>
            неоправданное количество времени и ресурсов. Global Print решает задачу быстрой печати и даёт<br>
            возможность каждому, у кого есть принтер, ежедневно помогать людям вокруг себя и <br>
            зарабатывать деньги без дополнительных трат.
        </div>

        <div class="row about__customers-row about__customers-row_first">
            <div class="col-md-4">
                <div class="forBox wow fadeInDown" data-wow-delay=".1s">
                    <img src="~/Content/img/landIcons/kmic1.png" alt="" />

                    <div class="forTitle">Юристы</div>
                    <div class="forText">
                        Специфика и напряжённый режим
                        работы юристов и работников
                        социальных сфер подразумевают
                        непредвиденную необходимость в
                        оперативной печати.
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="forBox wow fadeInDown" data-wow-delay=".2s">
                    <img src="~/Content/img/landIcons/kmic2.png" alt="" />

                    <div class="forTitle">Студенты</div>
                    <div class="forText">
                        Обучающие материалы, рефераты,
                        контрольные и дипломные работы
                        порой приходится распечатывать
                        несколько раз и в нескольких
                        экземплярах. Global Print 
                        решит эту задачу.
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="forBox wow fadeInDown" data-wow-delay=".3s">
                    <img src="~/Content/img/landIcons/kmic3.png" alt="" />

                    <div class="forTitle">Клиенты Бюджетных <br>Учреждений</div>
                    <div class="forText">
                        Распечатка необходимой
                        документации, справок и договоров
                        зачастую существенно тормозит все
                        процессы. Global Print приближает
                        конечный результат.
                    </div>
                </div>
            </div>
        </div>

        <div class="row about__customers-row">
            <div class="col-md-4">
                <div class="forBox wow fadeInDown" data-wow-delay=".1s">
                    <img src="~/Content/img/landIcons/kmic4.png" alt="" />

                    <div class="forTitle">Пожилые люди</div>
                    <div class="forText">
                        Необходимость в оперативной печати
                        подразумевает оперативные, срочные и
                        резкие действия, которые не способны
                        совершить пожилые люди. Global Print
                        создан для того, чтобы решать важные
                        вопросы быстро.
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="forBox wow fadeInDown" data-wow-delay=".2s">
                    <img src="~/Content/img/landIcons/kmic5.png" alt="" />

                    <div class="forTitle">Предприниматели</div>
                    <div class="forText">
                        Каждый из нас хоть раз в жизни
                        сталкивалсяс острой необходимостью 
                        напечатать тот или иной документ здесь
                        и сейчас. В срочномпорядке. Global Print это
                        максимально эффективное и целесообразное решение
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="forBox wow fadeInDown" data-wow-delay=".3s">
                    <img src="~/Content/img/landIcons/kmic6.png" alt="" />

                    <div class="forTitle">Каждый из нас!</div>
                    <div class="forText">
                        Никогда не знаешь когда появится
                        потребность в принтере. Даже не
                        сталкиваясь с данной проблемой
                        долгие годы это задача может
                        появиться в любой момент.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="landFooter">
    <div class="container">
        <div class="col-md-4">
            <img src="~/Content/img/ftLogo.png" alt="" class="ftLogo" />
        </div>
        <div class="col-md-5" align="center">
            <ul class="ftMenu">
                <li>
                    @Html.ActionLink("Обратная связь", "Feedback", "Feedback")
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <div class="ftNum">
                <span>+7 900 3257999</span>
                <img src="~/Content/img/whatsapp.png" alt="" />
            </div>
        </div>
    </div>
</div>